{% extends "base.html" %}
{% load static %}
<style>
   p
</style>
{% block page_content %}

<br><br>
<div class="container">
        <img src=" {% static 'site_img/main_page.jpg' %}" alt="@dolls_by_mary_mary" width="360" height="500"
             align="right">
        <p><font size="5" face="Times New Roman">
        Ещё в детстве я любила наряжать своих кукол, шила им платья, шляпки, плела бусы и браслеты из бисера. И вот,
        спустя много лет, я открыла для себя мир текстильных кукол и влюбилась в них. Моя первая куколка появилась на свет в
        марте 2020 году, и с тех пор я живу в кукольном мире. За свой небольшой творческий путь я испробовала различные техники
        и продолжаю пробовать что-то новое, совершенствуюсь и развиваюсь в поисках идеальных кукол. Я шью, клею, вяжу крючком и
        спицами, а когда куколка готова, получаю огромное удовольствие от того, какая же хорошенькая она получилась и сколько
        радости принесёт её обладательнице. А если Вы так же как и я влюблены в текстильных кукол - добро пожаловать в мой мир
        кукол.
        <br><br>
            Шью с любовью для вас, ваша <a href="https://www.instagram.com/dolls_by_mary_mary/">@dolls_by_mary_mary</a></font></p>
</div>
{% endblock %}

